<div class="col-4">
  <div class = "card">
    <div class = "card-body">
      <%= list.id %>
      <h3 class = "card-title text-uppercase"> <%= list.name %> </h3>
      <p class = "text-secondary"> <%= list.description %> </p>
      <%= link_to  "Ver más", list, class:"btn btn-primary" %>
    </div>
  </div>
</div>
