<nav class = "nav bg-light padding">
  <li class = "nav-item">
    <%= link_to  "Todas las listas", lists_path, class:"nav-link" %>
  </li>
  <li class = "nav-item">
    <%= link_to  "Nueva lista", new_list_path, class:"nav-link" %>
  </li>
</nav>